*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #2e364a;
    color: aliceblue;
}
.timeline{
    position: relative;
    max-width: 50%;
    margin: 100px auto;
}
.container{
    margin: 100px auto;
    padding: 10px 50px;
    width: 50%;
    
}
.text_box{
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}
.timeline::after{
    content: '';
    position:absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 25%;
    margin-left: -3px;
}
.text_box p:nth-child(2)::before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: -35px;
    top: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(0, 0, 0, 0.3);
}
.text_box p:nth-child(2){
    position: relative;
    width: 80px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}
.text_box:nth-child(1) p:nth-child(2){
    background-color: #0C9DFF;
}
.text_box:nth-child(2) p:nth-child(2){
    background-color: #FF5DA3;
}
.text_box:nth-child(3) p:nth-child(2){
    background-color: #00D5B4;
}
.text_box p:nth-child(3){
    margin-top: 15px;
}
.text_box p:nth-child(4){
    margin-top: 15px;
    color: #ffffff58;
}
.text_box i{
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    left: 23.5%;
    z-index: 1;

}
.text_box:nth-child(1) i{
    background-color: #22AEFF;
}
.text_box:nth-child(2) i{
    background-color: #FF5DA3;
}
.text_box:nth-child(3) i{
    background-color: #00D5B4;
}